@charset "utf-8";
/* CSS for Henry Huang's Web Site */

/* This rule will style the main page body */

body {
    background-color: white;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#final {
    background-color: rgb(234, 234, 234);
    border-color: rgb(66, 53, 254);
    border-width: 5px;
    margin-bottom: 20%;
    color: black;
}

#cover {
    background-image: url(../sunset.jpg);
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#name {
    text-align: center;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-size: 58px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 26.4px;
    /* background-color: burlywood; */
}

#motto {
    font-size: 32px;
    font-weight: 200;
}

p {
    color: black
    font-weight: lighter;
}

/* 

p {
    font-family: "Times New Roman", Arial;
    font-size: 150%;
    font-style: italic;
    padding-bottom: 5px;
}

*/
